@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #d7dcdf;
}

/* login */
.login-akun {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  margin: 0 auto;
}

.login-box {
  background-color: #ffffff;
  padding: 30px;
  width: 900px;
  border-radius: 15px;
  box-shadow: 10px 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 25px;
  color: #333;
}

.form-group {
  text-align: left;
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: 0.3s;
}

.form-group input:focus {
  border-color: #2980b9;
  box-shadow: 0 0 5px rgba(41, 128, 185, 0.4);
}

.checkbox {
  font-size: 14px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

button.kirim,
button.reset {
  padding: 10px 20px;
  border: 1px solid #d7dcdf;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.kirim {
  background-color: #27ae60;
}

button.kirim:hover {
  background-color: #219150;
}

button.reset {
  background-color: #e74c3c;
}

button.reset:hover {
  background-color: #c0392b;
}

/* Akun */
/* Navbar */
.navbar {
  background-color: #67aeff;
  padding: 0.8rem 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar img {
  width: 50px;
  border-radius: 50%;
}

.navbar h3 {
  color: white;
  font-size: 1.2rem;
}

/* main content di tengah2 */
.main {
  display: flex;
  gap: 3rem;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  margin: 5rem auto;
  max-width: 60%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

/* Card untuk background foto  */
.card {
  background-color: #f0f4f7;
  padding: 1rem;
  border-radius: 1rem;
  width: 380px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h3 {
  margin-bottom: 1rem;
  color: #333;
}

.card i {
  color: #2980b9;
  margin-left: 0.5rem;
  cursor: pointer;
}

.card img {
  margin-top: 1rem;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  object-fit: cover;
  border: 4px solid #2980b9;
}

/* Identitas dari user */
.identity {
  padding: 1rem;
  width: 320px;
  font-size: 1rem;
}

.identity h3 {
  text-align: center;
  background-color: #2980b9;
  color: white;
  border-radius: 3rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ccc;
}

.row:last-child {
  border-bottom: none;
}

.label {
  font-weight: 600;
  color: #333;
  width: 100px;
}

.footer {
  background-color: #10e7ff;
  padding: 1rem;
  height: 4.3rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer h5 {
  text-align: center;
  color: #2980b9;
}

/* Responsive */
@media (max-width: 1029px) {
  .main {
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  .button-group {
    flex-direction: column;
    gap: 10px;
  }
}
